<div id="msg2" class="dialog modal">
    <div class="modal-background"></div>
    <div class="modal-card animation-content">
        <section class="modal-card-body is-titleless" style="border-top-left-radius: 6px; border-top-right-radius: 6px;">
            <div class="media">
                <div class="media-content">
                    <p id='text-01'></p>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button onclick="alert2.cancelar()" class="button" id='dialog-cancel'>Cancelar</button>
            <a id='dialog-confirm'></a>
        </footer>
    </div>
</div>
