{% extends 'app2.html' %}
{% load inscricoes_extras %}
{% load static %}

{% block title %}- Estatísticas{% endblock title %}

{% block load %}
    <link rel="stylesheet" href="{% static 'css/Chart.min.css' %}">
{% endblock load %}

{% block scripts %}
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script>

        function selectDiaAberto(selectObject) {
            const value = selectObject.value;
            location.href = "{% url 'inscricoes:estatisticas' 12345 %}".replace(/12345/, value);
        }
    </script>

{% endblock scripts %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'home' %}">Início</a></li>
        </ul>
    </nav>

    <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">Relatório Almoços</h2>

    <hr>
    <div class="field" style="margin-left: 35%">
        <p>Queres aceder a estatisticas de que ano?</p>
        <div class="field-body">
            <div class="field">
                <p class="control">
                <div class="select">
                    <select value="{{ diaaberto.id }}" onchange="selectDiaAberto(this)">
                        {% for dia_aberto in diasabertos %}
                            <option value="{{ dia_aberto.id }}"
                                    {% if diaaberto.id == dia_aberto.id %}selected{% endif %}>{{ dia_aberto }}</option>
                        {% endfor %}
                    </select>
                </div>
                </p>
            </div>
        </div>
    </div>
    <hr>
{% endblock content %}