{% extends "app.html" %}

{% block title %}Editar Inscrição de Última Hora{% endblock %}

{% block content %}
<h1 class="title">Editar Inscrição de Última Hora</h1>
<form method="post">
    {% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.errors %}
    <div class="notification is-danger">
        <ul>
        {% for field in wizard.form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        {% for error in wizard.form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="field">
        {{ wizard.form.as_p }}
    </div>
    <div class="buttons">
        {% if wizard.steps.prev %}
        <button class="button" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Anterior</button>
        {% endif %}
        <button class="button is-primary" type="submit">Próximo</button>
    </div>
</form>
{% endblock %}