{% extends "app.html" %}

{% block content %}
    <h1 style="display:none;">Lista de Inscrições de Última Hora</h1> <!-- Escondendo o título para centralizar o botão -->
    <div class="section is-flex is-justify-content-center is-align-items-center" style="height: 100vh;">
        <a id="edit-button" href="#" class="button is-large is-info">Editar inscrição há última hora</a>
    </div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var editButton = document.getElementById("edit-button");
        // Adiciona um evento de clique ao botão
        editButton.addEventListener("click", function(event) {
            event.preventDefault();
            // Redireciona para a URL sem o ID
            window.location.href = "{% url 'inscricoes:editar_inscricao_ultima_hora_list' %}";
        });
    });
</script>
{% endblock %}
