{% extends 'bulma_table_details.html' %}
{% block details_content %}
    <table class="table is-fullwidth has-mobile-cards">
        <tbody>
            <tr>
                <th><strong>Inicio submissao Atividades:</strong></th>
                <td style="font-weight: normal;">
                    <span>ola</span>
                </td>
            </tr>

            <tr style="border-bottom: 1px solid #ddd">
                <th><strong>Fim submissao Atividades:</strong></th>
                <td style="font-weight: normal;">
                    <span> pois </span>
                </td>
            </tr>
            <tr style="border-bottom: 1px solid #ddd">
                <th class="th-wrap"><strong>Inicio Inscrições:</strong></th>
                <td style="font-weight: normal;">
                    <span>aseus</span>
                </td>
            </tr>
            <tr style="border-bottom: 1px solid #ddd">

                <td class="th-wrap"><strong>Fim Inscrições:</strong></td>
                <td style="font-weight: normal;">
                    <span> erro </span>
                </td>
            </tr>
            <tr style="border-bottom: 1px solid #ddd">
                <th class="th-wrap"><strong>Preço Professores:</strong></th>
                <td style="font-weight: normal;">
                    <span>exato€</span>
                </td>
            </tr>
            <tr style="border-bottom: 1px solid #ddd">

                <td class="th-wrap"><strong>Preço Alunos:</strong></td>
                <td style="font-weight: normal;">
                    <span> tal€</span>
                </td>
            </tr>
            <tr style="border-bottom: 1px solid #ddd">

                <td class="th-wrap"><strong>Escala de sessões:</strong></td>
                <td style="font-weight: normal;">
                    <span> isso </span>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock details_content %}