{% extends "app.html" %}

{% block content %}
<style>
    .card {
        margin-bottom: 1rem; /* Adds space between cards */
    }
    .card-body {
        padding: 1rem; /* Pads the inside of the card */
    }
    .button.Finalizar {
        background-color: blue; /* Cor de fundo azul para os botões Próxima e Finalizar */
        position: absolute;
        color: white;
        right: 0; /* Alinhar à direita dentro da .buttons-container */
    }
</style>

<div class="container">
    <div class="section">
        <form method="post" class="form">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="card">
                    <div class="card-content">
                        <div class="field">
                            <label class="label">ID</label>
                            <div class="control">
                                {{ form.id }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Pergunta</label>
                            <div class="control">
                                {{ form.pergunta }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Tema</label>
                            <div class="control">
                                {{ form.temaid }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Tipo de resposta</label>
                            <div class="control">
                                {{ form.tiporespostaid }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="checkbox" for="{{ form.DELETE.id_for_label }}">
                                {{ form.DELETE }} Remover
                            </label>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-primary">Salvar alterações</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
